* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}

body {
	background: yellow;
}

#page-preview {
	background: red;
	width: 100%;
}

#page-preview.laptop {
	background: red;
	width: 1040px;
}

#page-preview.tablet {
	background: red;
	width: 820px;
}

#page-preview.h-phone {
	background: red;
	width: 640px;
}

#page-preview.phone {
	background: red;
	width: 440px;
}

header {
	background: white;
}

.main {
	background: lightgray;
}

footer {
	color: #ffffff;
	background-color: #333333;
	height: 142px;
}

.small-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.footer {
	width: 412px;
	margin-top: 49px;
	margin-bottom: 49px;
	margin-left: auto;
	margin-right: auto;
}

#section-parallax {
	height: 100vh;
}

.parallax-container {

	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	overflow: hidden;
}

#section-about {
	height: 50vh;
}

.h6-about {
	text-align: center;
	margin: 100px 400px 0px 400px;
}

.h3-about {
	text-align: center;
	margin: 20px 60px 60px;
}

#section-mosaic {
	height: 100vh;
	width: auto;
	overflow: hidden;
}

.mosaic {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom right;
}

.mosaic-img-1 {
	background: url(../img/pexels-marta-dzedyshko-2067396.jpg);
}

.mosaic-img-2 {
	background: url(../img/pexels-photo-4099237.jpeg);
}

.mosaic-img-3 {
	background: url(../img/pexels-photo-949069.jpeg);
}

#section-events {
	height: 60vh;
	overflow: hidden;
}